body {
    font-family: Arial;
    margin: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}